body{
    margin: 0 auto;
}


.login-register{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.reg-form{
    border: 1px solid grey;
    
}

.math{
    color: aqua;
}


.table-analytics{
    margin: 1px;
}


