.layout{
    margin: 0 80px
}


.header{
    background-color: black;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}


.logo{
    font-size: 25px;
        margin: 0 !important;
        cursor: pointer;
}

.username{
    font-size: 20px;
    cursor: pointer;
}


.content{
    height: 85vh;
    box-shadow: 0 0 3px grey;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
}



@media only screen and (max-width: 700px) {
    .layout{
        margin: 0 10px;
    }
  }


  .spinner{

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .ant-spin-dot-item{
    background-color: grey !important
  }