/* filter styles */
.filter {
    box-shadow: 0 0 3px grey;
    padding: 15px 20px;
    border-radius: 10px;
    overflow-x: scroll;
  }
  
  /* add button styles */
  .addButton {
    background-color: black;
    color: white;
    border-radius: 6px;
  }
  
  /* add button hover styles */
  .addButton:hover {
    background-color: rgb(66, 66, 66);
  }
  
  /* ant design select item option content hover styles */
  .ant-select-item-option-content:hover {
    font-weight: bold;
  }
  
  /* save button styles */
  .saveButton {
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 1px 8px;
  }
  
  /* save button hover styles */
  .saveButton:hover {
    background-color: rgb(66, 66, 66);
  }
  
  /* view switch styles */
  .view-switch {
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 6px;
  }
  
  /* view switch SVG styles */
  .view-switch svg {
    font-size: 26px;
    cursor: pointer;
  }
  
  /* active icon styles */
  .active-icon {
    color: black;
  }
  
  /* inactive icon styles */
  .inactive-icon {
    color: grey;
  }

/* math styles */
.math {
    display: inline-flex;
  }
  
  /* media query for small screens */
  @media only screen and (max-width: 700px) {
    .filter {
      padding: 8px 4px;
    }
  }
  

